@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
body {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  outline: none;
  box-shadow: none;
  border: 0;
  text-decoration: none;
}

* {
  outline: none;
}

.body-game {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url(../images/bg.png) no-repeat center top;
  background-size: cover;
}

.giftpopup img {
  height: 164px;
}

.logo-game {
  position: fixed;
  left: 20px;
  top: 10px;
}

.content-game {
  width: 568px;
  margin: auto;
  text-align: center;
}
.content-game img.title-login {
  width: 400px;
  margin-bottom: -50px;
}

.form-login {
  width: 100%;
  display: inline-block;
  background: url(../images/bg-login.svg) no-repeat center top;
  width: 568px;
  height: 532px;
  background-size: cover;
}
.form-login h2 {
  font-size: 28px;
  margin-top: 94px;
  color: #fff;
}
.form-login .btn-form {
  display: inline-block;
  width: 100%;
  cursor: pointer;
}
.form-login .btn-form button {
  border: 0;
  background: none;
}
.form-login form {
  width: 271px;
  margin: auto;
}
.form-login form .item-form {
  margin-bottom: 15px;
  width: 100%;
  display: inline-block;
}
.form-login form .item-form label {
  text-align: left;
  display: inline-block;
  width: 100%;
  font-size: 16px;
  margin-bottom: 10px;
  color: #fff;
}
.form-login form .item-form input {
  width: 238px;
  display: inline-block;
  height: 40px;
  border-radius: 6px;
  background: #fff;
  padding: 5px 15px;
  font-size: 18px;
}
.form-login form .item-form input:focus {
  background: white;
}

.bg-cashback {
  width: 100%;
  display: inline-block;
  background: url(../images/bg-cash.svg) no-repeat center top !important;
  width: 568px;
  height: 299px;
  padding-left: 85px;
  background-size: cover !important;
}
.bg-cashback a img {
  width: 240px;
  margin-top: 113px;
}

.vitrivongxoay {
  display: inline-block;
  width: 100%;
}
.vitrivongxoay img {
  width: 100%;
}

.body-vongxoay {
  width: 580px;
  margin: auto;
}

.content-bodyVongxoay {
  display: inline-block;
  width: 100%;
  padding-bottom: 110px;
  position: relative;
}
.content-bodyVongxoay .devongxoay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.content-bodyVongxoay img {
  width: 100%;
  position: relative;
  z-index: 1;
}

.popup-infor-user {
  display: none !important;
  width: 100%;
  z-index: 9;
  margin: 0;
  left: 0;
  top: 0;
  position: fixed;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
}
.popup-infor-user.show {
  display: flex !important;
}
.popup-infor-user .form-login {
  height: 579px;
  position: relative;
}
.popup-infor-user .form-login h2 {
  margin-top: 104px;
}
.popup-infor-user .form-login .hidepopup {
  margin-top: 10px;
  margin-bottom: 30px;
}
.popup-infor-user::before {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.8;
  content: "";
  display: inline-block;
}

.hidepopup {
  text-decoration: underline;
  color: #FF7900;
  margin-top: 15px;
  display: inline-block;
  width: 100%;
}

.popup-gift .form-login {
  background: #3039a3;
  display: inline-block;
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
  height: initial;
  background-size: contain;
}
.popup-gift .form-login h2 {
  margin-top: 38px;
  font-size: 21px;
}
.popup-gift .form-login b {
  font-size: 31px;
  color: #fff;
  padding: 10px 20px;
  display: inline-block;
  width: 380px;
  margin: auto;
}
.popup-gift button.hidepopup {
  position: absolute;
  right: -5px;
  top: -10px;
  width: 64px;
  padding: 0;
  cursor: pointer;
  margin: 0;
  border: 0;
  background: none;
  margin-top: -20px img;
  margin-top-width: 47px;
}

.hidepopup img {
  width: 50px;
}

.form-login {
  position: relative;
}

.content-game.popup-infor-user.popup-gift.show p {
  color: white;
  padding: 0 70px;
  padding-bottom: 30px;
}
.content-game.popup-infor-user.popup-gift.show .border-formlogin {
  position: absolute;
  border: 2px dashed white;
  width: 473px;
  height: 91%;
  left: 12px;
  top: 4%;
  border-radius: 7px;
}

@media only screen and (max-width: 767px) {
  .border-formlogin {
    display: none;
  }
  .content-game.popup-infor-user.popup-gift.show p {
    color: white;
    padding: 0 30px;
    padding-bottom: 0px;
  }
  .body-vongxoay {
    width: 300px;
    margin: auto;
    padding: 0 20px;
  }
  .logo-game {
    position: fixed;
    left: 0;
    top: 30px;
    width: 100%;
    text-align: center;
  }
  .content-game {
    width: 300px;
  }
  .content-game img.title-login {
    width: 100%;
    margin-bottom: -50px;
  }
  .bg-cashback {
    width: 300px;
    height: 180px;
    padding-left: 34px;
    background-size: cover !important;
  }
  .bg-cashback a img {
    width: 130px;
    margin-top: 70px;
  }
  .form-login {
    display: inline-block;
    width: 300px;
    height: 362px;
    background: #3039a3 !important;
    border-radius: 20px;
    border: 3px solid #ffffff;
    margin-top: 60px;
  }
  .form-login h2 {
    margin-top: 14px;
  }
  .content-game.popup-infor-user {
    width: 100% !important;
  }
  .content-game.popup-infor-user .form-login {
    margin-top: 70px;
  }
  .popup-infor-user .form-login h2 {
    margin-top: 24px;
  }
  .popup-infor-user .form-login {
    height: 409px;
    position: relative;
  }
  .popup-gift .form-login {
    display: inline-block;
    width: 100%;
    max-width: 310px;
    height: -moz-max-content;
    height: max-content;
    padding-bottom: 20px;
  }
  .popup-gift .form-login h2 {
    font-size: 16px;
  }
  .popup-gift .form-login b {
    font-size: 26px;
    color: #fff;
    padding: 0;
    display: inline-block;
    width: 310px;
    margin: auto;
    max-width: 100%;
  }
  .popup-gift .form-login button.hidepopup {
    position: absolute;
    right: -30px;
    top: -38px;
    width: 64px;
    padding: 0;
    cursor: pointer;
    margin: 0;
    border: 0;
    background: none;
    margin-top: 0px;
  }
}/*# sourceMappingURL=style.css.map */